@font-face {
  src: url(./Gropled-Bold.otf) format("opentype");
  font-family: "Gropled";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(./TildaSans-VF.woff2) format("woff2");
  font-family: "Tilda";
  font-style: normal;
  font-weight: 500;
}
