@import "../../variables.scss";

@import "header-logo";
@import "header-nav";
@import "header-menu";
@import "header-burger";
@import "header-popup";

.header {
  &__block {
    background-color: $bg-white;
    padding: $medium $large;
    border-radius: $large;
    margin-block: $small;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (width <= $isTablet) {
    &__block {
      padding: $medium 0;
      background-color: transparent;
      margin-block: 0;
      border-radius: 0;
    }
  }

  @media (width <= $isMobileHorizont) {
    &__block {
      padding: $very-large 0 $medium;
    }
  }
}
